body {
    margin: 0;
    overflow: hidden;
}

#viewport {
    height: 100%;
    width: 70%;
    display: inline-block;
    float: left;
}

#sidebar {
    display: inline-block;
    height: 100%;
    width: 30%;
    float: left;
}

.indicator-bar {
    vertical-align: middle;
    display: inline-block;
    height: .8em;  /* Can be anything */
    max-width: 200px;
    width: 100%;
    background: #888;
    position: relative;
    border-radius: .2em;
    padding: .2em;
}

.indicator-bar span {
    display: block;
    height: 100%;
}
